#trainer-class {
    image-rendering: crisp-edges;
    display: block;
    width: 100%;
    height: 100%;
}

.trainer-card {
    margin: 0px auto;
    align-content: center;
}

#label {
    font-weight: bold;
}